<nav class="pcoded-navbar">
	<div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
	<div class="pcoded-inner-navbar main-menu">

		<ul class="pcoded-item pcoded-left-item">
			<li class="pcoded-hasmenu">
				<a href="javascript:void(0)">
					<span class="pcoded-micon"><i class="fa21 fas fa-file"></i></span>
					<span class="pcoded-mtext">Pages</span>
					<span class="pcoded-mcaret"></span>
				</a>
				<ul class="pcoded-submenu"style="padding: 15px 18px 20px;">
					<div class="m-b-20 text-center">
						<button class="btn btn-sm btn-primary btn-outline-primary"><i class="fas fa-plus"></i> File</button>
						<button class="btn btn-sm btn-primary btn-outline-primary"><i class="fas fa-plus"></i>  folder</button>
					</div>
					<ul style="line-height:30px">
						<li>
							<i class="fas fa-folder-open"></i> Pages
							<ul class="m-l-20">
								<li><i class="fas fa-folder-open"></i> folder</li>
								<ul class="m-l-20">
									<li><i class="far fa-file"></i> file 01</li>
									<li><i class="far fa-file"></i> file 02</li>
								</ul>

							</ul>
						</li>
					</ul>
				</ul>
			</li>
			<li class="pcoded-hasmenu ">
				<a href="javascript:void(0)">
					<span class="pcoded-micon"><i class="fa21 fas fa-file-code"></i></span>
					<span class="pcoded-mtext">Templates</span>
					<span class="pcoded-mcaret"></span>
				</a>
				<ul class="pcoded-submenu" style="padding: 15px 18px 20px;">
					<div class="m-b-20 text-center">
						<button class="btn btn-sm btn-primary btn-outline-primary"><i class="fas fa-plus"></i>  File</button>
						<button class="btn btn-sm btn-primary btn-outline-primary"><i class="fas fa-plus"></i>  folder</button>
					</div>
					<ul style="line-height:30px">
						<li>
							<i class="fas fa-folder-open"></i> Templates
							<ul class="m-l-20">
								<li><i class="fas fa-folder-open"></i> folder</li>
								<ul class="m-l-20">
									<li><i class="far fa-file"></i> file 01</li>
									<li><i class="far fa-file"></i> file 02</li>
								</ul>

							</ul>
						</li>
					</ul>
				</ul>
			</li>
			<li class="pcoded-hasmenu ">
				<a href="javascript:void(0)">
					<span class="pcoded-micon"><i class="fa21 fas fa-th-large"></i></span>
					<span class="pcoded-mtext">Blocks</span>
					<span class="pcoded-mcaret"></span>
				</a>
				<ul class="pcoded-submenu" style="padding: 15px 18px 20px;">
					<div class="m-b-20 text-center">
						<button class="btn btn-sm btn-primary btn-outline-primary"><i class="fas fa-plus"></i>  File</button>
						<button class="btn btn-sm btn-primary btn-outline-primary"><i class="fas fa-plus"></i>  folder</button>
					</div>
					<ul style="line-height:30px">
						<li>
							<i class="fas fa-folder-open"></i> Blocks
							<ul class="m-l-20">
								<li><i class="fas fa-folder-open"></i> folder</li>
								<ul class="m-l-20">
									<li><i class="far fa-file"></i> file 01</li>
									<li><i class="far fa-file"></i> file 02</li>
								</ul>

							</ul>
						</li>
					</ul>
				</ul>
			</li>
			<li class="pcoded-hasmenu ">
				<a href="javascript:void(0)">
					<span class="pcoded-micon"><i class="fa21 fas fa-images"></i></span>
					<span class="pcoded-mtext">Assets</span>
					<span class="pcoded-mcaret"></span>
				</a>
				<ul class="pcoded-submenu" style="padding: 15px 18px 20px;">
<div class="m-b-20 text-center">
<button class="btn btn-sm btn-primary btn-outline-primary"><i class="fas fa-plus"></i>  File</button>
<button class="btn btn-sm btn-primary btn-outline-primary"><i class="fas fa-plus"></i>  folder</button>
</div>

<div class="m-t-10 m-b-30 text-center">
<label class="custom-file-upload">
<input type="file" multiple="multiple" name="assets" accept="*/*" class="input-file"> <i class="fas fa-upload"></i> Upload Files
</label>
</div>

					<ul style="line-height:30px">
						<li>
							<i class="fas fa-folder-open"></i> Assets
							<ul class="m-l-20">
								<li><i class="fas fa-folder-open"></i> folder</li>
								<ul class="m-l-20">
									<li><i class="far fa-file"></i> file 01</li>
									<li><i class="far fa-file"></i> file 02</li>
								</ul>

							</ul>
						</li>
					</ul>
				</ul>
			</li>
		</ul>
	</div>
</nav>





<!-- code from John -->

<nav class="pcoded-navbar">
	<div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
	<div class="pcoded-inner-navbar main-menu">

<div class="radp-projects">
<% include('dfacf61f0152fd8c61f4c08aeaca1d0c') %>
<% include('309b39cf8c43d3230013513dfb2456f4') %>
<% include('f0d287a293d5388b9b48791e567abfd4') %>
</div>

</div>
</nav>