<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" href="https://jsampang.github.io/radp/images/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<title>Rowboat Software</title>

	<!-- style-css Block -->
	<<% include( 'eafabd733a58930f7df84d2ff94e2376') %>
	<!-- custom-css Block -->
	<<% include( '7e0dd74a5b158fcc7af8171738939218') %>


</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-off-canvas">
	
	<!-- top nav -->
	<%  include('3f87192edcbeb3b96cb6c6cd6945c37f') %>
	

	<div class="app-body">
		<!-- left nav -->
		<% include('01d45789a99222ae8beed4033dbea222') %>
		

		<!-- Main content -->
		<% block content %><% endblock %>
		

		<!-- Right side bar -->
		<% include('ce84403cb08b66b013d71c5cc2b3fc53') %>
		

	</div>


	<!-- Bootstrap and necessary plugins -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- RADP  Javascript-->
	<<% include( '1aee11e8efaf2e4cd6fd9cb20ab03940') %>


</body>
<script src="/cdn/js/editor.js"></script>
</html>