<% extends '71db876d166a7cceca2004ec885a1b79' %>
<% block content %>
	<!-- <div class="page-header">
	<div class="page-header-title">
		<h4>Page Title</h4>
	</div>

	<div class="page-header-breadcrumb">
		<ul class="breadcrumb-title">
			<li class="breadcrumb-item">
				<a href="index.html">
					<i class="fa fa-home" aria-hidden="true"></i>
				</a>
			</li>
			<li class="breadcrumb-item"><a href="#!">Pages</a>
			</li>
			<li class="breadcrumb-item"><a href="#!">Sample page</a>
			</li>
		</ul>
	</div>


</div> -->
<% endblock %>