<% extends '94041a13b4adde65c4e80cd7590447ed' %>
<% block content %>
<$ super() $>

<div class="page-body">
	<div class="card">

		<div class="card-block email-card">
			<div class="row">

				<div class="col-lg-12 col-xl-2">

					<div class="user-body">
						<div class="card-block">
							<button class="btn btn-primary btn-block">Add New</button>
						</div>
						<ul class="page-list">
							<li class="active">
								<div class="mail-section">
									<a href="#">
										 All Open
									</a>
									<label class="label label-info f-right">30</label>
								</div>
							</li>
							<li>
								<div class="mail-section">
									<a href="#">
										 My Ticket
									</a>
									<label class="label label-info f-right">2</label>
								</div>
							</li>
							<li>
								<div class="mail-section">
									<a href="#">
										 Following
									</a>
									<label class="label label-info f-right">7</label>
								</div>
							</li>
							<li>
								<div class="mail-section">
									<a href="#">
										 New
									</a>
									<label class="label label-info f-right">4</label>
								</div>
							</li>
							<li>
								<div class="mail-section">
									<a href="#">
										 Assigned
									</a>
									<label class="label label-info f-right">12</label>
								</div>
							</li>
							<li>
								<div class="mail-section">
									<a href="#">
										 For Review
									</a>
									<label class="label label-info f-right">30</label>
								</div>
							</li>
							<li>
								<div class="mail-section">
									<a href="#">
										 Approved
									</a>
									<label class="label label-info f-right">30</label>
								</div>
							</li>
							<li>
								<div class="mail-section">
									<a href="#">
										 Canceled
									</a>
									<label class="label label-info f-right">1</label>
								</div>
							</li>
							<li>
								<div class="mail-section">
									<a href="#">
										 Close
									</a>
									<label class="label label-info f-right">0</label>
								</div>
							</li>
						</ul>
						<ul class="card-block label-list">
							<li>
								<h5>Labels</h5></li>
							<li>
								<a class="label-urgent" href="#">Urgent</a>
							</li>
							<li>
								<a class="label-high" href="#">High</a>
							</li>
							<li>
								<a class="label-medium" href="#">Medium</a>
							</li>
							<li>
								<a class="label-low" href="#">Low</a>
							</li>
							<li>
								<a class="label-normal" href="#">Normal</a>
							</li>
						</ul>
					</div>
				</div>


				<div class="col-lg-12 col-xl-10">

					<div class="mail-body">
						<div class="mail-body-header f-right d-inline-block">
							<div class="btn-group" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
								<button type="button" class="btn btn-primary btn-xs waves-effect waves-light">
									<i class="fas fa-ticket-alt"></i>
								</button>
								<button type="button" class="btn btn-primary btn-xs waves-effect waves-light">
									<i class="fas fa-user"></i>
								</button>
								<button type="button" class="btn btn-primary btn-xs waves-effect waves-light">
									<i class="fa fa-trash-alt"></i>
								</button>
							</div>
							<div class="btn-group dropdown-split-primary">
								<button type="button" class="btn btn-primary">
									<i class="far fa-folder"></i>
								</button>
								<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="sr-only">Toggle primary</span>
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item waves-effect waves-light" href="#">Action</a>
									<a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
									<a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item waves-effect waves-light" href="#">Separated link</a>
								</div>
							</div>
							<div class="btn-group dropdown-split-primary">
								<button type="button" class="btn btn-primary">
									More
								</button>
								<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="sr-only">Toggle primary</span>
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item waves-effect waves-light" href="#">Action</a>
									<a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
									<a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item waves-effect waves-light" href="#">Separated link</a>
								</div>
							</div>
						</div>
						<div class="mail-body-content">

							<div>
								<table id="issue-list-table" class="table dt-responsive width-100">
									<thead class="text-left">
										<tr>
											<th>Type</th>
											<th>Description</th>
											<th>Due date</th>
											<th>Assigned</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody class="text-left">
										<tr>
											<td>
												<label>
													<input type="checkbox" value="">
												</label>
											</td>
											<td><span class="issue-title"> User Administration: Change message text for password reset</span>
												<span class="label label-danger">Urgent</span>
												<br>
												<span class="issue-sub-title">#0001 Opened on Nov 29, 2017 by Jolene N. </span>
											</td>
											<td>11/25/2017</td>
											<td><a href="#">Joven Sampang</a></td>
											<td><span class="label label-primary">Open</span></td>
										</tr>
										<tr>
											<td>
												<label>
													<input type="checkbox" value="">
												</label>
											</td>
											<td><span class="issue-title">Task Manager - Create New Task: Add "Assignee" field to new ticket template</span> <span class="label label-warning">High</span>
												<br>
												<span class="issue-sub-title">#0001 Opened on Nov 29, 2017 by Jolene N. </span></td>
											<td>11/25/2017</td>
											<td><a href="#">Joven Sampang</a></td>
											<td><span class="label label-danger">Close</span></td>
										</tr>
										<tr>
											<td>
												<label>
													<input type="checkbox" value="">
												</label>
											</td>
											<td><span class="issue-title">AssetsFolderModelMongo.php continue invalid code</span> <span class="label label-success">Medium</span>
												<br>
												<span class="issue-sub-title">#0001 Opened on Nov 29, 2017 by Jolene N. </span></td>
											<td>11/25/2017</td>
											<td><a href="#">Joven Sampang</a></td>
											<td><span class="label label-warning">Pending</span></td>
										</tr>
										<tr>
											<td>
												<label>
													<input type="checkbox" value="">
												</label>
											</td>
											<td><span class="issue-title">Structured Data Tagging: Article</span> <span class="label label-info">Low</span>
												<br>
												<span class="issue-sub-title">#0001 Opened on Nov 29, 2017 by Jolene N. </span></td>
											<td>11/25/2017</td>
											<td><a href="#">Joven Sampang</a></td>
											<td><span class="label label-danger">Close</span></td>
										</tr>
										<tr>
											<td>
												<label>
													<input type="checkbox" value="">
												</label>
											</td>
											<td><span class="issue-title">Noodles is too spicy</span> <span class="label label-primary">Normal</span>
												<br>
												<span class="issue-sub-title">#0001 Opened on Nov 29, 2017 by Jolene N. </span></td>
											<td>11/25/2017</td>
											<td><a href="#">Joven Sampang</a></td>
											<td><span class="label label-danger">Close</span></td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>

				</div>

			</div>
		</div>

	</div>
</div>
	
<% endblock %>